.container {
  width: 100%;
}
.item {
  width: 100%;
  padding: 10px;
  font-size: 30px;
  color: #f00;
  animation: shows 1s ease;
}

@keyframes shows {
  from {
    transform: scaleX();
  }

  to {
    transform: scale3d(0, 0, 0);
  }
}

.canvas {
  width: 100%;
  height: auto;
}

.can-box {
  width: 50%;
  overflow: hidden;
  margin-left: 50%;
  position: relative;
  background-color: #f7f7f7;
}

.line {

  overflow: hidden;
  .l0 {
    color: #a58866;
    font-size: 28px;

    b {
      font-size: 36px;
      margin-right: 5px;
    }
  }
  .l1 {
    width: 1px; /* no*/
    height: 60px;
    margin-left: 18px;
    background-color: #a58866;
  }
}

.can {
  position: relative;
  overflow-x: auto;
}

.in {
  position: absolute;
  z-index: 10;
  top: 40px;
// width: 100%;
// height: 100%;

} 


.nums {
  width: auto;
  position: absolute;
  height: auto;

  .line {
    width: 1px; /* no */
    height: 62px;
    background-color: #a58866;
    margin-left: 16px;
  }
}


.money {
  width: auto;
  height: 40px;
}